body{
    background-color: rgba(166, 94, 0, 0.489);
    font: normal 20px sans-serif;

}

header{
    color: rgb(38, 36, 36);
    text-align: center;

}

section{
    background-color: white;
    border-radius: 2rem;
    padding: 15px;
    width: 80vh;
    height: auto;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.586);
   
}
select{
    width:150px; 
    height: 200px;


}

footer{
    color: rgb(44, 0, 0);
    text-align: center;
    font-style: italic;
}