body{
    background-color: rgba(255, 200, 0, 0.883);
    font: normal 20px sans-serif;

}

header{
    color: rgb(0, 0, 0);
    text-align: center;

}

section{
    display: flex;
    justify-content: center;
    
    width: 60%;
    height: 350px;
    margin: auto;
    font-weight: 700;
    border-radius: 20px;
    color: rgba(255, 200, 0, 0.883);
    background-color: rgba(0, 0, 0, 0.924);
    
   
}

form#formulario{
    

}

fieldset{
    width: 250px;
    height: 290px;
    margin-top: 15px;
    
}

input{
    background-color: whitesmoke;
    margin-left: 10px;
    width: 50px;
    font-weight: 700;
    height: 25px;
    border-radius: 5px;
    outline-style: none;
    margin-bottom: 12px;
}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    background-color: rgba(255, 200, 0, 0.883);
    margin-left: 80px;
}


footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}