body{
    background-color: rgba(64, 0, 255, 0.827);
    font: normal 20px sans-serif;

}

header{
    color: white;
    text-align: center;

}

section{
    background-color: rgba(0, 0, 0, 0.889);
    color: white;
    border-radius: 2rem;
    padding: 15px;
    width: 70vh;
    height: 50vh;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.586);
   
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}